<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title> Nemesis Desert | O Melhor Servidor </title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1920, user-scalable=yes, maximum-scale=1">
	<meta name="description" content="Black Desert Online é o MMORPG de sandbox de ação de última geração. Apresentando um dos mais ricos sistemas de criação de personagens, um imenso mundo sem costura e épicas guerras de cerco.">
	<meta name=“keywords” content=“black desert, BDO, game, MMORPG, online game, RPG, role playing, open world, black desert forum, BDO forum, kakao games”>

	<link href="https://fonts.googleapis.com/css?family=Marcellus" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="../../static/blackdesert.ico" type="image/x-icon">
	<link rel="icon" href="https://akamai-webcdn.kgstatic.net/renewal/static/blackdesert.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../static/css/common4ba8.css?v=202003131130">

	<style>
		
		@media (max-width: 1800px) {
							.gnb_comm .link_gnb{padding:34px 21px !important}
					}
	</style>
	<script type="text/javascript" src="../../../akamai-webcdn.kgstatic.net/renewal/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../../akamai-webcdn.kgstatic.net/renewal/static/js/common94c8.js?v=202003131440"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta property="og:title" content="Refer-a-Friend Promotion">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://www.blackdesertonline.com/static/images/common/sns_01_blackdesert.png">
	<meta property="og:locale" content="en_US">

	<script>
	window.cookieconsent_options = {"theme":"dark-bottom","domain":".blackdesertonline.com", "message":"I agree to the use of cookies by Kakao Games on the website for personalized marketing purposes.","dismiss":"Accept","learnMore":"More information","link":"https://www.blackdesertonline.com/legal/privacy-policy"};
</script>
<script type="text/javascript" src="../../../akamai-webcdn.kgstatic.net/renewal/static/cookieconsent/cookieconsent30f4.js?v=3"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-939288197"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-939288197');
  gtag('config', 'AW-808304736');
</script>
<script>
	var GA_ID = "UA-68713027-5";
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','../../../connect.facebook.net/en_US/fbevents.js');
	
</script>
<script>

var setting_third_party = function(cookieFlag){
	if(cookieFlag == "accept"){
		if(typeof fbq == 'function'){
			fbq('consent', 'grant');
			fbq('init', '1793387054280743');
			fbq('track', "PageView");
		}
		
		if(typeof ga == 'function'){ 
		
			ga('create', GA_ID, 'auto');
			ga('set', 'userId', '${uid}');
						ga('require', 'ecommerce');
		  	ga('send', 'pageview');
		  	
		  							ga('send', 'event', 'page_news_view', 'landing' , 'Announcement', '3780');
		
		}
	  	
	}else{
		if(typeof fbq == 'function'){ 
			fbq('consent', 'revoke');
		}
		if(typeof ga == 'function'){ 
			ga('create', GA_ID, {'storage': 'none'});
		}
	}

}
	if( cookie_check_ok() ) {
		setting_third_party("accept"); 
	} else {
		setting_third_party("none");
	}
	
</script>

</head>
<body>




<div id="kakaoHead" class="k_head ">
	
	<div class="inner_head">
		<li class="tit_black"><a href="index.html" class="link_sale"><img src="../../../akamai-webcdn.kgstatic.net/renewal/static/images/main/logo_1.png" class="img_g" alt="LOGO"></a></li>
		<div id="kakaoGnb">
			<h2 class="screen_out">Black Desert Menu</h2>
			<ul class="gnb_comm en">
				<li>
					<a href="../../../nemesisdesert/lang=PTBR.html" class="link_gnb">INICIO <span class="fa fa-home"></span></a></a>
				</li>
				<li>
					<span class="link_gnb">OUTROS</span>
					<div class="gnb_sub">
						<ul class="list_sub">
							<li><a href="../../../nemesisdesert/shop/cash_PT.html" class="link_gnb_sub">CASH EM JOGO</a></li>
							<li><a href="../../../nemesisdesert/news/list/annoucement_PT.html" class="link_gnb_sub">AVISOS</a></li>
						</ul>
					</div>
				</li>
				<li><a href="../../../nemesisdesert/download_PT.html" class="link_gnb">DOWNLOAD</a></li>
				<li>
					<span class="link_gnb">COMUNIDADE</span>
					<div class="gnb_sub">
						<ul class="list_sub">
							<li><a href="" target="_blank" class="link_gnb_sub">FORUM<span class="img_black ico_link"></span></a></li>
							<li>
								<a class="link_gnb_sub">PATROCINADORES</a>
								<!-- 2019-06-18 추가 시작 -->
								<ul class="list_sub2">
									<li><a href="../../../nemesisdesert/partners.html" class="link_gnb_sub2"><span class="txt_g">SE INSCREVA</span></span></a></li>
									<li><a href="../../../nemesisdesert/halloffame.html" class="link_gnb_sub2"><span class="txt_g">HALL DA FAMA
</span></span></a></li>
								</ul>
								<!-- // 2019-06-18 추가 끝 -->
							</li>

							<li><a href="https://discord.gg/FPcmBSc" class="link_gnb_sub" target="_blank">DISCORD</a></li>
							<li><a href="https://nwiki.blackdesertonline.com/" target="_blank" class="link_gnb_sub">WIKI<span class="img_black ico_link"></span></a></li>
							<li><a href="../../../nemesisdesert/giftpackage.html" class="link_gnb_sub">PACOTE GIFT</a></li></a>
							<li><a href="../../../nemesisdesert/guestpass.html" class="link_gnb_sub">PACOTE FANTASMA</a></li>
							<li><a href="../../../nemesisdesert/referral.html" class="link_gnb_sub">REFERÊNCIAS</a></li>
						</ul>
					</div>
				</li>
				<li><a href="https://downspot.ga/" id="" class="link_gnb" style="cursor:pointer" data-locale="EN">DOWNSPOT<span class="img_black ico_link"></span></a></li>
			</ul>
			<ul class="gnb_with">
				<li>
					<strong class="screen_out">Language setting</strong>
					<div class="opt_language">
		                <strong class="screen_out">Language Select Box</strong>
		                <div class="link_selected"><span class="img_black ico_lang"></span>PORTUGUÊS<span class="screen_out">Selected</span></div>
		                <input type="hidden" value="Language Select">
		                <div class="box_opt">
		                    <em class="screen_out">Select Option</em>
		                    <ul class="list_opt">
		                    																																<li><a href="3780_EN.html" class="link_option gnb_lang_link" data-value="EN">INGLÊS</a></li>
																																<li><a href="3780_ES.html" class="link_option gnb_lang_link" data-value="ES">ESPANHOL</a></li>
																	                    </ul>
		                </div>
		            </div>
					<div id="_languageForm"></div>
				</li>

				
									<li><a href="" class="link_sale"><img src="../../../akamai-webcdn.kgstatic.net/renewal/static/images/events/remaster/BETA_PT.png" class="img_g" alt="BUY NOW -60%"></a></li>
									
							</ul>
		</div>
	</div>
</div><!-- // kakaoHead -->
<script type="text/javascript">
$(document).ready(function($) {
	var language_json = {"newsId":"3780"};
	var form = $("<form/>", {id:'__languageForm',action:'',method:"GET"} );
	for(var key in language_json) {
		form.append( $("<input>",{type:'hidden',name:key,value:language_json[key]}) );
	}
	$("#_languageForm").append(form);

	$(".gnb_lang_link").on("click",function(){
		var form =$("#__languageForm");
		form.append( $("<input>",{type:'hidden',name:'lang',value:$(this).attr("data-value")}) );
		form.submit();
	});
});
</script>
<hr class="hide">
	<div class="cont_news" id="kakaoContent">
		<div id="cMain">
			<div id="mArticle">
				<div class="bg_cover" style="background-image:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/bg_newsview_480.jpg)"></div>
				<div class="detail_black">
					<div class="view_news">
						<div class="news_head">
							<h2 class="subject_news" id="kakaoBody">Convide um Amigo [Evento]</h2>
							<span class="txt_time">Sem data de lançamento</span>
							<!-- <span class="txt_date">12 July 2017<span class="txt_bar">|</span>5:00</span> -->
						</div>
						<div class="news_body">
							<div class='cms_article'><p><img alt="" height="500" src="../../../akamai-webcdn.blackdesertonline.com/bdo/resources/news/include/c07236785058f9010ac81f7ff857fb0f.jpg" width="1100" /></p>

<p>&nbsp;</p>

<p>Grandes aventureiros,</p>

<p>&nbsp;</p>

<p>Bem vindos ao tão aclamado servidor Nemesis Desert Online, um projeto que fora criado em harmonia e com muito amor pela DownSpoT e pela Nemesis Studios. O evento que vocês irão participar, se for do bom grado, será: Convide um amigo para o Nemesis Desert ONLINE e seja recompensado por isso.</p>

<p>&nbsp;</p>

<p><strong>O periodo do evento:</strong> Sem data inicial - Sem data final</p>

<p>&nbsp;</p>

<h3><strong>Peça para seu amigo criar uma conta e um personagem e vocês deverão tirar uma printscreen no jogo um do lado do outro.</strong></h3>

<p>&nbsp;</p>

<p>Você precisa no mínimo está no level 30. Seu amigo não precisa está em level algum, só precisa está na foto. Vocês enviarão a foto através do Discord clicando no link ao lado.<a href="">Discord</a>.</p>

<p>O jogador que não estiver no level 30 (Quem chamou uma pessoa), não poderá receber as recompensas valiosas do evento.</p>

<p>&nbsp;</p>

<h3><strong>Como eu participo ?</strong></h3>

<p>&nbsp;</p>

<p>Você precisa jogar no servidor a um tempo e já está no level 30 ou superior.</p>

<p>Você após convidar seu amigo, precisa ir até a localização dele (Dentro do jogo) e tirar uma foto do lado dele (Mostrando nome de família e nickname).</p>

<p>Ambos precisam aparecer na foto, fazendo qualquer gesto, ou animação.</p>

<p>&nbsp;</p>

<h3><strong>Fiz tudo adequadamente correto. Onde está minha recompensa ?</strong></h3>

<p>&nbsp;</p>

<p>Existem duas formas de conseguir. Uma conversando com um GM pelo discord, outra, abrindo um ticket pelo discord e esperando ser atendido.</p>

<p>&ldquo;Conversando com um GM&rdquo; se trata de algo difícil, pois os mesmos sempre estão ocupados, então quaisquer mensagens não respondidas no privado, sentimos por isto.</p>

<ul>
	<li>
	<p>Os tickets são respondidos por estagiários. Não asseguramos uma resposta rápida e instântanea.</p>
	</li>
	<li>
	<p>É de extrema necessidade você possuir discord, para ficar por dentro de algumas reuniões que ocorrem por lá.</p>
	</li>
</ul>

<p>&nbsp;</p>

<p>&ldquo;O que é Discord ?&rdquo; Discord é um programa online que conecta duas ou mais pessoas em uma conversa seja por voz, chat, vídeo e/ou live.</p>

<ul>
	<li>
	<p>Todos estão participando do evento, porém cabe a vocês se desejam receber as recompensas ou não.</p>
	</li>
	<li>
	<p>É necessário o jogador que convidar seu amigo, está no level 30.</p>
	</li>
	<li>
	<p>O evento é beneficente para os jogadores, STAFFS não poderão participar.</p>
	</li>
	<li>
	<p>Tem um limite de 5 jogadores convidados. Não vamos dar mais que cinco recompensas p/ jogador.</p>
	</li>
</ul>

<table border="1" style="width:600px">
	<tbody>
		<tr>
			<td style="background-color:#ccffcc">
			<p style="text-align: center;"><strong>Jogadores convidados</strong></p>
			</td>
			<td style="background-color:#ccffcc">
			<p style="text-align: center;"><strong>Recompensa</strong></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">1</p>
			</td>
			<td>
			<p style="text-align: center;">Barras de ouro: x5 100G</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">2</p>
			</td>
			<td>
			<p style="text-align: center;">Cavalo Tier 5</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">3</p>
			</td>
			<td>
			<p style="text-align: center;">Pedra Cron x100</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">4</p>
			</td>
			<td>
			<p style="text-align: center;">Anel de Guardião Lua Crescente (PRI)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">+1</p>
			</td>
			<td>
			<p style="text-align: center;">Brinco Tungrad (DUO)</p>
			</td>
		</tr>
	</tbody>
</table>

<ul>
	<li>Recompensas por Level</li>
</ul>

<table border="1" style="width:600px">
	<tbody>
		<tr>
			<td style="background-color:#ffffcc">
			<p style="text-align: center;"><strong>Level</strong></p>
			</td>
			<td style="background-color:#ffffcc">
			<p style="text-align: center;"><strong>Recompensas</strong></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">Atingiu Lv. 50</p>
			</td>
			<td>
			<p style="text-align: center;">Anel de Guardião Cadry (PRI)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">Atingiu Lv. 53</p>
			</td>
			<td>
			<p style="text-align: center;">Barras de ouro: x20 10G</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">Atingiu Lv. 55</p>
			</td>
			<td>
			<p style="text-align: center;">Armadura do Nariz Vermelho (+15)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">Atingiu Lv. 56</p>
			</td>
			<td>
			<p style="text-align: center;">Cavalo Tier 8</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;">Atingiu Lv. 57</p>
			</td>
			<td>
			<p style="text-align: center;">Caixa de Pérolas 11500</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<h3><strong>Regras:</strong></h3>

<ul>
	<li>
	<p>O evento valerá apenas para quem completar todos os requisitos.</p>
	</li>
	<li>
	<p>Quem recebeu a premiação, não poderá receber de novo.</p>
	</li>
</ul>
</div>
						</div>
					</div>
					<div class="paging_board">
						<!-- <a class="btn_prev" href="#none"><span class="img_black"></span>Previous Article</a>	
						<a class="btn_next" href="#none"><span class="img_black"></span>Next Article</a>  -->
						<a class="btn_list" href=""><span class="img_black"></span>VOLTAR AO TOPO</a>
					</div>
				</div>
					
			</div><!--// mArticle -->
			<div class="black_follow" id="cEtc">
	<h2 class="tit_follow">SIGA-NOS</h2>
	<ul class="list_sns">
		<li>
			<a class="img_black link_facebook" href="https://www.facebook.com/BlackDesertOnline" target="_blank">Facebook</a>
		</li>
		<li>
			<a class="img_black link_twitter" href="https://twitter.com/BDO_news" target="_blank">Twitter</a>
		</li>
		<li>
			<a class="img_black link_youtube" href="https://www.youtube.com/channel/UCcO-TjLkDNzvYrlPkOHgnfA" target="_blank">Youtube</a>
		</li>
		<li>
			<a class="img_black link_instagram" href="https://www.instagram.com/blackdesertonline_official/" target="_blank">Instagram</a>
		</li>
		<li>
		<a class="img_black link_twich" href="https://www.twitch.tv/blackdesertonlineofficial/" target="_blank">Twitch</a>
		</li>
		<li>
		<a class="img_black link_discord" href="https://discord.gg/kakaogames" target="_blank">Twitch</a>
		</li>
	</ul>
</div>
		</div><!-- // cMain -->
	</div>
	<!-- // kakaoContent -->
<hr class="hide">
<div id="kakaoFoot" class="k_foot">
	<div class="inner_foot">
		<h2 class="screen_out">Service Information</h2>
		<div class="info_pegi">
			<img src="../../../akamai-webcdn.kgstatic.net/renewal/static/images/img_pegi.png" class="img_g" alt="The content of this game is suitable for persons aged 16 years and over only. It contains: Realistic looking violence - Encouragement of the use of alcohol/tobacco">
		</div>
		<div class="info_company">
			<a href="account/TermsOfUse.html" class="link_info en">TERM.DE USO</a>
			<span class="txt_bar en">|</span>
			<a href="account/AboutUs.html" class="link_info en">SOBRE NÓS</a>
			<span class="txt_bar en">|</span>
			<a href="account/Policy.html" class="link_info en">POLÍ.DE PRIVACI.</a>
			<span class="txt_bar en">|</span>
							<a href="https://discord.gg/FPcmBSc" target="_blank" class="link_info en">
						SUPORTE</a>
			<small class="txt_copyright en">&copy; 2015-2020 DownSpoT Entertainment™ . DownSpoT®. NemesiS Studios®<br>All copyrights and trademarks are the property of their respective owners.</small>
		</div>
		<div class="logo_foot">
			<img src="../../../akamai-webcdn.kgstatic.net/renewal/static/images/logo_downspot.png" width="173" height="31" class="img_g" alt="Kakao Games Europe B.V.">
			<img src="../../../akamai-webcdn.kgstatic.net/renewal/static/images/logo_nemesis.png" width="170" height="31" class="img_g" alt="PEARL ABYSS">
		</div>
	</div>
</div>
<script type="text/javascript" src="../../../akamai-webcdn.kgstatic.net/renewal/static/js/jquery-1.11.3.min.js"></script>
<script>

//move top
$('.black_web_top .btn_top').on('click', function (){
		$('html, body').animate({ scrollTop: 0 }, 600);
})
</script>
</body>


</html>